<html>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Autofolio</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      </ul>
    </div>
  </nav>
  <div class="row container">
    <div class="col s12">
      <ul class="collapsible" data-collapsible="accordion">
        <% @data.each do |data| %>
          <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>
              <%= data["name"] %>
            </div>
            <div class="collapsible-body">
              <p>
                <%= data["description"] %>
              </p>
            </div>
          </li>
          <% end %>
      </ul>
    </div>
  </div>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Description</h5>
          <p class="grey-text text-lighten-4">This website is for a team project of Advanced Programming 2. Advanced Programming 2, the class of the university, lets us develop freely and work together. This project is basically managed with two developers.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/secondnoraworld/adprogex2">Repository</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2016 Copyright ak1t0
      </div>
    </div>
  </footer>
</body>

</html>
